AIAX/test3.json
{
  "name": "test3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -688,
        -192
      ],
      "id": "e85fda40-70cb-4bb1-b90d-fc0ca48dc251",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d3c037d-49cc-450a-bd2e-213663b1f55e",
              "name": "page",
              "value": "=1",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -192
      ],
      "id": "76bbe7a7-37c1-48e5-9aec-59cbc896372d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://kaica.or.kr/business/company.php?page={{$json.page}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": 36,
              "requestInterval": 200
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        -192
      ],
      "id": "2805218f-ea9f-4ada-9310-9833a5e140d8",
      "name": "HTTP Request",
      "retryOnFail": false,
      "maxTries": 4,
      "waitBetweenTries": 3500
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": ".bo_tit a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            },
            {
              "key": "rows",
              "cssSelector": "tbody tr.even",
              "returnArray": true
            },
            {
              "key": "companyNames",
              "cssSelector": ".bo_tit a",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -16,
        -192
      ],
      "id": "13f693cc-42ad-413d-9511-3191e0519ed0",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nconst items = $input.all(); // HTML 노드에서 나온 데이터\n\nfor (const item of items) {\n  const data = item.json;\n\n  // data 안의 배열들을 길이 기준으로 안전하게 처리\n  const length = data.companyNames?.length || 0;\n\n  for (let i = 0; i < length; i++) {\n    out.push({\n      json: {\n        companyName: data.companyNames[i],\n        url: data.links?.[i] ? 'https://kaica.or.kr/business' + data.links[i].replace('./', '/') : null,\n        ceo: data.ceo?.[i] || null,\n        homepage: data.homepage?.[i] || null,\n        phone: data.phone?.[i] || null,\n        fax: data.fax?.[i] || null,\n        page: data.page || 1 // 필요하면 HTML 노드에서 page를 함께 뽑아야 함\n      }\n    });\n  }\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -192
      ],
      "id": "84c14426-fc47-4143-8109-453c2a507154",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        -192
      ],
      "id": "7f179305-3f27-4d47-8cbb-93d58e04632f",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "ceo",
              "cssSelector": "dl dd:nth-of-type(1)"
            },
            {
              "key": "homepage",
              "cssSelector": "dl dd:nth-of-type(6) a",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "phone",
              "cssSelector": "dl dd:nth-of-type(7)"
            },
            {
              "key": "fax",
              "cssSelector": "dl dd:nth-of-type(8)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        656,
        -192
      ],
      "id": "78a3b3e5-afec-4a2f-aea8-d697c278223a",
      "name": "HTML1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2d308a66-306a-8064-96d7-f81cf941078f",
          "mode": "list",
          "cachedResultName": "자동차부품기업현황",
          "cachedResultUrl": "https://www.notion.so/2d308a66306a806496d7f81cf941078f"
        },
        "title": "=",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "기업명|title",
              "title": "={{ $('Code in JavaScript').item.json.companyName }}"
            },
            {
              "key": "홈페이지|url",
              "urlValue": "={{ $json.homepage }}"
            },
            {
              "key": "전화번호|rich_text",
              "textContent": "={{ $json.phone }}"
            },
            {
              "key": "FAX|rich_text",
              "textContent": "={{ $json.fax }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        880,
        -192
      ],
      "id": "0661cd8b-fc85-4634-a344-9e6f5132531a",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "bmx1d2lLPPkBeYft",
          "name": "Notion account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f46acf5e-6c1e-47f1-8559-70287039e2e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df37452c8170ba46bcd0bd45229bb3082b88fbe77398aef13369302538f85ded"
  },
  "id": "19Qkza3kqh4TYTh7",
  "tags": []
}