AIAX/test4.json
{
  "name": "test4",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d3c037d-49cc-450a-bd2e-213663b1f55e",
              "name": "page",
              "value": "=1",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -368
      ],
      "id": "0e8e0edd-c1f2-4548-af3c-295bfe35d550",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.medisvc.com/medicaldevice/fo/devicecompanylist.sd",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "s_pagenum",
              "value": "={{ $pageCount + 1 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "body",
                    "name": "s_pagenum",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": 300,
              "requestInterval": 500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        -368
      ],
      "id": "b8f3550c-aa03-4c8c-8e8b-750c69c19030",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "company_list",
              "cssSelector": "tbody > tr",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        192,
        -368
      ],
      "id": "db0a3ed3-01aa-4d4e-b7c7-613f97d62ce8",
      "name": "HTML"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2d308a66-306a-80fe-b55e-f4046473cc97",
          "mode": "list",
          "cachedResultName": "의료기기",
          "cachedResultUrl": "https://www.notion.so/2d308a66306a80feb55ef4046473cc97"
        },
        "title": "=",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "기업명|title",
              "title": "={{ $json.company_name }}"
            },
            {
              "key": "주소|rich_text",
              "textContent": "={{ $json.address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1120,
        -384
      ],
      "id": "57fd03b3-d67a-4da0-a168-6fb7386fac78",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "bmx1d2lLPPkBeYft",
          "name": "Notion account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "company_list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        -368
      ],
      "id": "7f640243-5631-45c5-9f9e-b2149725313b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "company_list",
        "extractionValues": {
          "values": [
            {
              "key": "company_name",
              "cssSelector": "a.text-theme-colored"
            },
            {
              "key": "address",
              "cssSelector": "a[href*=\"mapModal\"]"
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        640,
        -368
      ],
      "id": "578c6389-3ff1-48b5-a556-bb0c12a9889b",
      "name": "HTML1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f7dc6000-4c97-4364-aea3-c21d46175a15",
              "leftValue": "={{ $json.company_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        -368
      ],
      "id": "f48ae8f1-5f02-454c-8287-e85f2dd6499a",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "061325d2-aa30-4d29-b1da-18731470a5cf",
  "meta": {
    "instanceId": "df37452c8170ba46bcd0bd45229bb3082b88fbe77398aef13369302538f85ded"
  },
  "id": "HrkcNTnCoA5wdfxB",
  "tags": []
}