AIAX/유페이퍼 메인 워크플로우.json
{
  "name": "유페이퍼 메인 워크플로우",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        -32
      ],
      "id": "f6f05735-6752-49c8-9768-862c96e1603d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const pages = [];\nfor (let i = 629; i <= 2000; i++) {\n  pages.push({ json: { page: i } });\n}\nreturn pages;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -32
      ],
      "id": "d8744f35-49f9-494b-a77e-a5a0fe07066e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        -32
      ],
      "id": "5be47032-1cf2-4b60-9600-b3d501ef35a8",
      "name": "Loop Over Items",
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UtLLmXCt3T4uQyBX",
          "mode": "list",
          "cachedResultUrl": "/workflow/UtLLmXCt3T4uQyBX",
          "cachedResultName": "유페이퍼 서브 워크플로우"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "page": "={{ $json.page }}"
          },
          "matchingColumns": [
            "page"
          ],
          "schema": [
            {
              "id": "page",
              "displayName": "page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        544,
        -48
      ],
      "id": "0f6739d8-d878-4b5c-80e3-4723f72fe77a",
      "name": "Call '유페이퍼 서브 워크플로우'",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "⚠ 페이지 범위 수정 가이드\n\n- 전체 수집: 실제 마지막 페이지 확인 후 수정\n- 중단 후 재시작: 마지막 성공 page부터 시작\n\n예)\nfor (let i = 850; i <= 2000; i++)\n\n무료 클라우드 환경에서는\n한 번에 전부 돌리지 말 것\n",
        "height": 208,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -272
      ],
      "id": "e6eb69a8-2257-4e7a-9fce-167c2ce42b49",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "이 Loop는 반드시 1페이지씩 실행됨\n\nBatch Size 변경 ❌\n병렬 처리 ❌\n\n→ 메모리 안정성 최우선 구조\n",
        "height": 128,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        -192
      ],
      "id": "29ad48bd-a6dd-4b87-8ef0-b6f25584f7d5",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Call '유페이퍼 서브 워크플로우'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '유페이퍼 서브 워크플로우'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3d8e0673-369c-4267-a194-ca9f6c4da452",
  "meta": {
    "instanceId": "df37452c8170ba46bcd0bd45229bb3082b88fbe77398aef13369302538f85ded"
  },
  "id": "mAJe178VjZa04I1j",
  "tags": []
}